@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,400;1,700&family=Roboto:wght@300;400;500;700&display=swap');


* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

.primary-title{
  font-size: 6rem;
  color: #025464;
  margin: 2rem;
}

.btn-primary {
  color: aliceblue;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #025464;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  margin: 2rem;
}

.btn-primary:hover {
  background-color: #47A992;
}


.btn-secondary {
  color: rgb(136, 141, 145);
  text-transform: uppercase;
  font-size: 1rem;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: solid 2px rgb(136, 141, 145);
  margin: 0.5rem;
}
button:hover {
  cursor: pointer;
}

/* Navbar styles */


nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid green; */
}

nav .logo-container {
  width: 2rem;
  margin: 1rem;
}

nav .logo-container .logo {
  width: 100%;
}

nav .btn-nav {
  color: #025464;
  background-color: white;
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 1rem;
  border:1px solid #025464;
  margin: 1rem
}
nav .btn-nav:disabled {
  background-color: rgb(207, 207, 207);
  color: #025464;
}

/* HomePage */
.home {
  margin-top: 30vh;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(45deg, rgba(208,245,190,1) 0%, rgba(251,255,220,1) 100%);
}

/* Auth Modal */
.auth-modal {
  position: absolute;
  left: 0;
  right: 0;
  top:10rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 30rem;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  padding: 40px;
}

.auth-modal .close-icon {
  float: right;
  color: red;
}

.auth-modal form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.auth-modal input[type=password],
.auth-modal input[type=email]  {
  padding: 0.5rem;
  margin: 0.5rem;
  font: 1rem;
}


.btn-secondary:hover {
  color:black;
  border: solid 2px black;
  cursor: pointer;
  background-color: gainsboro;
}
/* Onboarding page */

.onboarding form {
  display: flex;
  justify-content: center;
}

.onboarding form label {
  margin: 1rem 0;
  font-size: x-large;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  width: 35%;
}

.onboarding form input {
  padding: 1rem 2rem;
  margin: 0.7rem 0;
  font-size: 1rem;
  border: solid 2px lightgray;
  border-radius: 1rem;
}

.onboarding form .multiple-input-container{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.onboarding form .multiple-input-container label {
  padding: 10px;
  border: solid 2px lightgray;
  border-radius: 1rem;
  margin-right: 0.8rem;
  transition: all 0.3s;
  font-size: 1.3rem;
}

.onboarding form  input[type='radio'] {
  display: none;
}

.onboarding form  input[type='radio']:checked + label {
  border: solid 2px #025464;
  color: #025464;
}

.onboarding form  input[type='submit']:hover {
  background-color: rgb(235, 235, 235);
}

.onboarding form  input[type='submit']:active {
  background-color: #47A992;
}
